<% if user_signed_in? %>
<h2> Your Playlists </h2>
<ul>
 <% current_user.playlists.each do |playlist| %>
    <li><%= link_to playlist.name, playlist %></li>
    <% end %>
    </ul>
    <%= link_to 'Add Song', new_playlist_song_path(current_user.playlists.find_by_name("All")) %></br>
    <%= link_to 'Add Playlist', new_playlist_path %></br>
<% else %>
<div class="landing-page">
  <%= render 'landing' %>
</div>
<% end %>