<div class="form-background-logged-in">
  <h2 class="form-title">New Song</h2>
  <h5 class="form-message">Please type in a proper Soundcloud link with the https://</h5>
<%= render 'form_new' %>
<div class="site-form-field">
<%= link_to 'Back', playlist_path(params[:playlist_id]) %>
</div>
</div>