<h1>New Song</h1>

<%= render 'form_new' %>

<%= link_to 'Back', playlist_path(params[:playlist_id]) %>
<br/><br/>


<div class='five columns song-playlist'>
<table width="900" align="center">
<tr>

<td align="left" width="125" valign="middle">
<img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/play-button.png" alt="play" width="200"/>
</td>

<td width="150">
<h5><img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_308_share_alt.png" alt="share" width:"75">&nbsp;&nbsp;&nbsp;75</h5>
<h5><img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_173_play.png" alt="share" width:"75">&nbsp;&nbsp;&nbsp;&nbsp;75</h5></h5>
<h5><img src="https://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_049_star.png" alt="share" width:"75">&nbsp;&nbsp;75</h5></h5>
</td>


<td width="400">
<div class='song-title'>
<h4>Song title</h4>
<h5>Song artist, any extra text></h5>
</div>
</td> 

<td width="75">
<img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/gear.png" alt="edit" width="75px"/>

<img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/bin.png" alt="delete" width="75px"/>
</td>

</tr>
</table>


</div>
