<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Apollo</title>
</head>
<body>
<%= yield %>
</body>
</html>