/** Song Icon Styling **/
.one-song {
  border-style: solid;
  border-width: 3px; 
  color: rgba(55, 66, 127, 1.0000);
  vertical-align: middle;
}

.song-playlist{
  border-style: solid;
  border-width: 3px;
  border-color: rgba(55, 66, 127, 1.0000);
  text-align: center;
  margin-top: 70px;
  margin-left: 125px;
  width: 75%;
  padding: 10px;
  background-color: rgba(173, 173, 173, .70);
  border-radius: 20px;
}

.song-play-button {
  width: 25%;
  display: inline-block;
  margin-left: -25px;
}

.song-attributes h5 {
  text-align: left;
  color: rgba(55, 66, 127, 1.0000);
}

.song-attributes {
  width: 15%;
  display: inline-block;
}

.song-text {
  width: 40%;
  display: inline-block;
  padding-bottom: 20px;
}

.song-text h4 {
  color: rgba(55, 66, 127, 1.0000);
}

.song-text h5 {
  color: rgba(55, 66, 127, 1.0000);
}

.song-edit-delete {
  width: 20%;
  display: inline-block;
}

/** Playlist Page **/
.playlist-links {
  display: inline-block;
}

#playlist-name {
  display: inline-block;
  margin-left: -40px;
  color: rgba(55, 66, 127, 1.0000);
}
.playlist-links-element {
  display: inline-block;
  margin-left: 25px;
}

/** Landing Page **/

.landing-page {
  background-image: url(http://s3.amazonaws.com/ApolloApp/Landing+Page/landing-page-background.png);
  background-size: cover;
  height: 750px;
  padding-top: 50px;
  margin-top: -10px;
}


/** All Pages **/

.container {
  padding-bottom: 150px;
  width: 100%;
  text-align: center;
  background-image: url(http://s3.amazonaws.com/ApolloApp/Landing+Page/landing-page-background.png);
  background-size: cover;
  margin-top: -20px;
  padding-top: 25px;
  background-attachment: scroll;
}

/** Navigation Bar **/

.nav-bar {
  background-color: rgba(0, 0, 0, 1.0000);
  width: 100%;
  vertical-align: middle;
}

.nav-logo h4 {
  color: rgba(55, 66, 127, 1.0000);
}

.nav-logo {
  width: 25%;
}

.nav-bar-player {
  background-color: rgba(55, 66, 127, 1.0000);
  text-align: center;
  width: 40%;
}

.nav-bar-welcome-text {
  color: rgba(55, 66, 127, 1.0000);
}
.nav-bar-welcome {
  text-align: right;
  width: 25%;
  margin-top: 10px;
}

.nav-bar-settings {
  margin-left: 20px;
}

.nav-bar-log-out {
  margin-left: 20px;
}


/** Form Styling **/

.fieldset {
margin-left: 20px;
}

.line-height {
line-height: 5px
}

input {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  margin: 0px 1px;
  color: #666;
  border: 1px solid #999;
  padding: 15px;
}

.site-playlist-list {
  text-align: center;
}

.site-playlist-list li {
  font-size: 30px;
}

.homepage-button {
  font-size: 18px;
  background-color: rgba(55, 66, 127, 1.0000);
  font-weight: 500;
  color: #FFF;
  border: 1px;
  border-radius: 10px;
  text-transform: lowercase;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
}

.home-form-background-logged-in {
  background-color: rgba(173, 173, 173, .50);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  border-radius: 20px;
  color: rgba(55, 66, 127, 1.0000);
  padding: 20px;
}
.site-form-field {
  width: 100%;
  text-align: center;
}

.genre-form-field {
  width: 100%;
  text-align: center;
}

.genre-title-field {
  font-size: 20px;
}

.site-form-field-gender {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.site-submit-button {
  text-align: center;
  margin-top: 10px;
}

.form-background-logged-in {
  background-color: rgba(173, 173, 173, .50);
  text-align: left;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  border-radius: 20px;
  color: rgba(55, 66, 127, 1.0000);
  padding: 20px;
}

.form-background {
  background-color: rgba(173, 173, 173, .50);
  text-align: left;
  width: 50%;
  margin-left: 25%;
  border-radius: 20px;
  color: rgba(55, 66, 127, 1.0000);
  padding: 20px;
}

.form-message{
  color: rgba(208, 69, 38, 1.0000);
  text-align: center;
}

.form-title {
  color: rgba(55, 66, 127, 1.0000);
  text-align: center;
}

.form-background h2 {
  color: rgba(55, 66, 127, 1.0000);
  text-align: center;
}

input[type="submit"] {
  width: auto;
  font-size: 18px;
  background-color: rgba(55, 66, 127, 1.0000);
  font-weight: 500;
  color: #FFF;
  border: 1px;
  border-radius: 10px;
  text-transform: lowercase;
}