.song-playlist{
  border-style: solid;
  border-width: 3px;
  border-color: rgba(55, 66, 127, 1.0000);
  
}

.song-title h4 {
  color: rgba(55, 66, 127, 1.0000);
}

.song-title h5 {
  color: rgba(55, 66, 127, 1.0000);
}

.song-attributes h5 {
  text-align: left;
}