<div class="form-background-logged-in">
  <h2 class="form-title">Edit Playlist</h2>

<%= render 'form' %>

<div class="site-form-field">
<%= link_to 'Back', playlist_path(params[:id]) %>
</div>
</div>