<h3><%=@playlist.name %>
<ul>
<% @playlist.songs.each do |song| %>
    <li><%= song.url %>
    <% link_to 'Edit Song', edit_song_path(song.id) %></li>
  <% end %>
</ul>

<%= link_to 'Add Song', new_playlist_song_path(@playlist.id) %></br>